.Hero{
    margin: 10px;
    padding-top: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 40px;
    height: 120vh;
    position: relative;
    width: 98%;
}

.gradient{
    background: linear-gradient(180deg, rgba(173, 207, 255, 0) 0%, #072652 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0 ;
    left: 0 ;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    z-index: 3;
}

.hero-container{
    position: relative;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top h2{
    font-family: Inter;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #072652;
    background: #FFFFFFB8;
    padding: 10px 20px;
    border-radius: 50px;
}

.middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.middle h1{
    font-family: 'Tw Cen MT', 'Century Gothic', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
    text-shadow: 1px 2px 6px  #000000B2;

}

.middle span{
    font-family: 'Great Vibes', cursive;
    font-weight: 100;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
    background: #072652;
    padding: 10px 20px;
    border-radius: 50px;
    display: inline-flex;
}

.bottom{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.left{
    width: 50%;
    height:90%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 15px;
}

.left img {
    width: 50%;
    height: auto;
    position: absolute;
    z-index: -1; 
}

 .tabs {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    gap: 5px;
    margin-left: 10px;
}

.tabs h2{
    font-family: 'Tw Cen MT', 'Century Gothic', 'Arial', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #072652;
    background: #ADCFFF;
    padding: 10px 20px;
    border-radius: 50px;
}
.tabs h1{
   font-family: 'Tw Cen MT', 'Century Gothic', 'Arial', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    background: #072652;
    padding: 10px 20px;
    border-radius: 50px;
}

.tab-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
}

.tab-content .content-left{
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    width:45%;
    margin-left: 20px;
}

.content-left h2{
    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #072652;

}

.content-left .clients{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
}
.clients img {
    position: relative;

}
.clients p{
    font-family: 'Tw Cen MT', 'Century Gothic', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #BBBBBB;
}

.content-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    gap: 5px;
    width: 51%;
    height: 100%;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    border-radius: 50px;
    margin-top: 30px;
}

 

.content-right-top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 50px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.content-right-top h2{
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0%;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.content-right-bottom{
    width: 90%;
    display: flex;
    align-items: center;
    margin-left: 20px;
    z-index: 2;
    margin-left:10px;
    margin-bottom: 30px;
}

.content-right-bottom p{
    font-family: 'Tw Cen MT', 'Century Gothic', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0%;
    color: #D6D3D3;
    margin: 0;
    padding: 0;
}

.arrow{
    width: 20px;
    height: 20px;
    color: #FFFFFF;
    
}

.right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.messages{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background: #FFFDF8;
    border-radius: 50px;
    margin-top: 50px;
    margin-right: 30px;
}

.message-top {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.bell{
    width: 20px;
    height: 20px;
    color: #072652;
    padding: 20px;
    background: #C4C4C4;
    border-radius: 50%;
    margin-left: 30px;
}
.message-top h2{
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #434343;

}

.message-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 20px;

}

.message {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 90%;
    padding: 10px 20px;
}

.message-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
    margin: 0;
    padding:0;
}

.message h2{
    font-family: 'Tw Cen MT', 'Century Gothic', 'Arial', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0%;
    color: #434343;
    margin:0;
}

.message p{
    font-family: 'Tw Cen MT', 'Century Gothic', 'Arial', sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0%;
    color: #BBBBBB;
    margin:0;
}

.message img {
    width: 30px;
    height:30px;
}

@media (max-width: 768px) {
  .Hero {
    height: auto;
    padding:0;
    width: 95%;
  }

  .gradient{
    margin: 0;
  }

  .middle h1, .middle span {
    font-size: 32px;
  }

  .bottom {
    flex-direction: column;
    gap: 30px;
  }

  .left img {
    width: 95%;
    height: 180px;
  }

  .left, .right {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
  }

  .messages {
    width: 90%;
    margin: 0 auto;
  }
 .tab-content h2 {
    font-size: 16px;
  }

  .tabs{
    width: 100%;
    justify-content: flex-start;
    margin-left: 35px;
  }

  .tabs h2{
    font-size: 10px;
    padding: 5px 5px;
  }
  .tabs h1{
    font-size: 10px;
    padding: 5px 5px;
  }
 .tab-content{
    width: 90%;
 }
  .tab-content .content-left {
    width: 50%;
    margin-left: 0;
    margin-top: 0;
    gap: 0;
  }
 .clients {
    width: 90%;
    margin-bottom: 5px;
 }

 .clients img {
   width: 50%;
   height: auto;
 }
  .tab-content .content-right {
    width: 50%;
    margin-right: 0;
    margin-top: 0;
    border-radius: 10px;
  }

  .content-right-top{
    gap: 5px;
    width: 90%;
    margin: 0;
  }

  .message {
    flex-direction: row;
    align-items: flex-start;
  }

  .message img {
    width: 40px;
    height: 40px;
  }

  .right{
    margin-bottom: 20px;
  }
 }
  

