.Navbar{
    background-color: transparent;
    position:absolute;
    width: 98vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo {
    width:auto;
    height: auto;
    padding-left: 20px;
}

.links{
    display: flex;
    gap: 50px;
    flex-direction: row;
    align-items: center;
    background: #FFFFFF2B;
    padding: 0;
    justify-content: center;
    border-radius: 50px;
}

.nav-links{
    display: flex;
    gap: 30px;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 5px;
}

.nav-links li {
    list-style: none;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
    text-align: center;
}

.nav-links a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    text-align: center;
}


/* Base link styles */
.nav-link {
  text-decoration: none;
  color: white;
  padding: 8px 16px;
  border-radius: 50px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: Poppins;
  font-size: 16px;
}

/* Hover effect for inactive links */
.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Active link styling */
.nav-link.active {
  background-color: white;
  color: black;
  padding: 8px 16px;
}

.contact{
    padding-right: 20px;
}

.contact-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #FFFFFF2B;
    gap: 30px;
    border-radius: 50px;   
    border: none;
    justify-content: center;
    color: #FFFFFF;
    margin-left: 10px;
}

.contact a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 10px;
}

.contact-icon{
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 50%;
    color: #434343;

}

.contact-icon:hover{
    background: #25D366;
    color: #FFFFFF;
}
