.Popular-listings {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding-top: 100px;
  width: 95%;
}

.listing-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
}

.listing-top h2 {
    font-family: poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #072652;
    margin: 0;
}

.listing-top h1 {
    font-family: poppins;
    font-weight: 500;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #072652;
    margin: 0;
}

.listing-top span {
    color: #434343;
}

.listing-top p {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #000000;
}

.listing-bottom{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    margin-top: -50px;
}

.nav-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  margin-right: 30px;

}

.button-left{
    width: 50px;
    height: 50px;
    border: none;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

}
.button-right{
    width: 50px;
    height: 50px;
    border: none;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-left:hover{
    background: #ADCFFF;
    border-radius: 50%;
}

.button-right:hover{
    background: #ADCFFF;
    border-radius: 50%;
}

.button-left:disabled,
.button-right:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}


.nav-card-icon{
    width:50px;
    height: 50px;
    color: #072652;
    border-radius: 50%;
}

.properties-wrapper {
  width: 100%;
  overflow: hidden;
}

.view-properties-button{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}

.view-properties-button button {
  background: #072652;
  color: #ffffff;
  border: none;
  border-radius: 40px;
  padding: 15px 20px;
  margin-top: 20px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  cursor: pointer;
}

.view-properties-button button:hover {
  background: #ADCFFF;
  color: #072652;
  transition: background-color 0.3s ease;
}

.properties {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
   transition: transform 0.5s ease-in-out;
}@keyframes fadeIn {
  from { opacity: 0; transform: translateY(100px); }
  to { opacity: 1; transform: translateY(0); }
}

.property-card-wrapper {
  flex: 0 0 45%;
  max-width: 45%;
  animation: fadeIn 0.5s ease;
}


/* .property-card-wrapper:nth-child(2) {
  margin-right: 100px; 
} */

.popular-gallery{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 40px 0;
}

.pg-top{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 30%;
    margin-left: 40px;
}

.pg-top h2{
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #072652;
  margin: 10px;
}

.pg-top h1 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 55px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #434343;
  margin: 10px;
}

.pg-top span {
  color: #072652;
}

.pg-down {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
  height: 70%;
  width: 100%;
}

.pg-left{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  width: 40%;
  border-radius: 40px;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.pg-left img {
  width: 100%;
  height: 100%;
  border-radius: 40px;
}

.pg-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 50%;
  height: 97%;
  border-radius: 40px;
}

.pg-right-top{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 50%;
}

.pg-right-top img {
  width: 50%;
  height: 100%;
  border-radius: 40px;
}

.pg-right-down{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 50%;
}
.pg-right-down img {
  width: 100%;
  height: 100%;
  border-radius: 40px;
}

@media (max-width: 768px) {
  .property-card-wrapper {
    flex: 0 0 95%;
    max-width: 90%;
  }

  .Popular-listings{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }

  .popular-gallery{
    margin: 0;
  }



  .pg-down {
    flex-direction: column;
    height: auto;
  }

  .pg-left, .pg-right {
    width: 95%;
  }
  .pg-right-top {
    width: 95%;
  }
   .pg-right-down {
    flex-direction: column;
  }

  .pg-right-top img{
    width: 50%;
  }

  .listing-top h1, .popular-gallery h1 {
    font-size: 30px;
  }
}
